<h1>About champions</h1>
<p>This page is about champions of the Paladins game developed by Hi-Rez studios.</p>
<h2>Champions list:</h2>
<ul>
    <li>Androxus</li>
    <li>Barik</li>
    <li>Bomb King</li>
    <li>Buck</li>
    <li>Cassie</li>
    <li>Drogoz</li>
    <li>Evie</li>
    <li>Fernando</li>
    <li>Grohk</li>
    <li>Grover</li>
    <li>Kinessa</li>
    <li>Makoa</li>
    <li>Mal'Damba</li>
    <li>Pip</li>
    <li>Ruckus</li>
    <li>Sha Lin</li>
    <li>Skye</li>
    <li>Tyra</li>
    <li>Viktor</li>
    <li>Ying</li>
</ul>

{{> footer}}