<h1>About</h1>
<h2>This page is about {{champion}}</h2>
<h3>Lore</h3>
<p>
    Robbed of his noble lineage, Zhin ruthlessly carved out his own throne atop of the criminal underworld. 
    By the time he was a man, he'd won the loyalty of enough thieves, assassins, and corrupt bureaucrats to build his own shadowy empire: the Thousand Hands guild. 
    Anyone scheming against him had a way of vanishing in the middle of the night, while those who confronted him directly met their doom at the end of his wicked flaming sword.
    He refuses to pick a side in the war, as there's more profit to be made playing them against each other.
</p>
<h3>Summary</h3>
<p>
    Zhin is a flank champion that excels at dueling opponents up close. 
    He attacks with his Inferno Blade, doing a series of swings that fling burning oil forward. 
    His Counter and Billow skills are built to outplay opponents and punish their poor choices. 
    Whirl's short cooldown allows it to be used in a defensive and offensive manner. 
    Zhin's ultimate skill, Spite, renders both the target and himself completely vulnerable for a duration, making it a great tool for taking out important targets. 
    However, Zhin suffers of limited mobility and has a lackluster performance when fighting from a distance compared to most other flankers.
</p>